body {
    background-color: paleturquoise;
    background-image: "image.gif";
}
h1 {
    color: blue;
    border: 1px solid powderblue;
    padding: 30px;
}
p {
    color: blue;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
